 body {
     background: #222222 url(../img/bg_carbon.png) right;
 }

  .discussion {
     background: #222222 url(../img/bg_carbon.png) left;
     color: #eeeeee;
        /* -webkit-transition:max-height 0.3s ease-in-out 0.2s;
        -webkit-transition-duration: 0.3s; */

 }
 .discussion .content{
     background-image: -webkit-gradient(
         linear,
         left bottom,
         left top,
         color-stop(0, rgba(43,43,43,1)),
         color-stop(1, rgba(43,43,43,0))
         );
     color: #ffffff;
 }

  #avalist {
     background: #222222 url(../img/bg_carbon_white.png) right;
     border: 1px inset #ffffff;
     box-shadow:inset 0px 0px 10px 0px #666666, 0px 0px 5px 0px #999999;
}


 .discussion header {
     color: #eeeeee;
 }

  .cp {
    background-color: #222222;
 }
 .u_rating, .u_socialrating, .u_posts, .u_branches {
/*     border:1px solid #222222;*/
 } 

  .keys_select td {

     background-image: -webkit-gradient(
         linear,
         left top,
         right top,
         color-stop(0.1, rgba(55,55,55,0)),
         color-stop(0.5, rgba(55,55,55,1)),
         color-stop(0.9, rgba(55,55,55,0))
         );
     cursor: pointer;

 }
 .keys_select td.current {
     background-image: -webkit-gradient(
         linear,
         left top,
         right top,
         color-stop(0.1, rgba(80,55,0,0)),
         color-stop(0.5, rgba(80,55,0,1)),
         color-stop(0.9, rgba(80,55,0,0))
         );

 }
 .cp {
    background-color: rgba(43,43,43,1);
     box-shadow:inset 0px 0px 10px 0px #000000;
 }

  #main > .key .inner {
     background: #b9b9b9 url(../img/bg_carbon_white.png) right;
 }
 
  #main > .post {
     background-color: #ffffff;
 }

  .discussion header {
      font-size: 26px;
          font-family: 'Lobster';

 }

 .cp {
     font-family: 'Lobster';
     font-size: 13px;
     font-weight: normal;
 }