/* 
    Document   : main.css
    Created on : 25.07.2011, 17:24:14
    Author     : Messir
    Description:
        Primary styles
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Calibri, 'Ubuntu', Helvetica, 'Avant Garde', sans-serif; 
}


#main-header {
    width: 60%;
    margin: 0 auto;
    background-color: #596B84;
    color: #ffffff;
}

#main-header div {
    padding: 1em;
}

#main-container {
    width: 60%;
    margin: 0 auto;
    padding-bottom:100%;
}

article {
    /*          height: 5em;*/
    /*          padding:1em;*/
    /*          outline: 1px dashed #ffffff;*/
    background-color: #84596B;
    /*          border-bottom: 1px dotted #f0f0f0;*/
}
article > div{
    padding: 1em;
}

article.branch {
    background-color: #B58AA5;
    outline: 1px solid #ffffff;
/*    border-right:10px solid #ffffff;*/
/*    border-left: 10px solid #ffffff;*/
}

article.branch ul.branch_keys{
    border:1px inset #B58AA5;
}

article.branch ul.branch_keys li {
    padding: 0.4em;
}

article.branch.lighter{
/*    background-color: #d7acc7;*/
}

article.key {
    background-color: #CECFCE;
    outline: 1px solid #dddddd;
/*    border-right: 10px solid #ffffff;*/
/*    border-left: 10px solid #ffffff;*/
}

article.post {
    background-color: #FFFFFF;
    outline: 1px solid #eeeeee;
}

article.active {
    /*          outline: 1px solid red;*/
    background-color: #B58AFF;
}

.float {
    /*          outline: 1px solid green;*/
    position: fixed;
    top: 0px;
    width: 60%;
    z-index: 1000;
    /*          -webkit-box-shadow: inset 0px 0px 0px 1px #000;*/

}

.branch_keys li
{ 
    display: none;
}
.branch_keys li:first-child
{ 
    display: list-item;
}

article header {
    cursor: pointer;
    font-weight: bold;
}

article header:hover {
    text-decoration: underline;
}

.graphContainer {
    width: 80px;
    height: 110px;
/*    background-color: #ffffff;*/
/*    border: 1px inset #d7acc7;*/
        
}
.graphContainer.active{
    position: fixed;
    margin-left:100px;
    top:10px;
}


.collapse_control {
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0px 0px 1em #fff;
    text-align: center;
    cursor: pointer;
}

.collapse_control span.arrow-s, .collapse_control.opened span.arrow-n{
    display: inline-block;
}

.collapse_control span.arrow-n, .collapse_control.opened span.arrow-s{
    display: none;
}

a.show_reply {
    color: #fff; 
}
.show_reply span[title="Reply"], .show_reply.opened span[title="Cancel reply"]{
    display: inline-block;
}

.show_reply span[title="Cancel reply"], .show_reply.opened span[title="Reply"]{
    display: none;
}

#params-container {
    position: fixed;
    top: 20px;
    left: 20px;
    border:1px solid #eeeeee;
    padding: 10px;
    width: 230px;
    line-height: 2em;
    background-color: #fff;
    -webkit-box-shadow: inset 0px 3px 3px #eee, 3px 3px 6px #ddd;
}

#params-form {
    border:1px solid #e6e6e6;
    background-color: #eeeeee;
    padding: 10px;
}

.lighter canvas{
/*    display: none;    */
}

.active.lighter canvas{
/*    display: block;    */
}

section.fragment {
    width: 100%;
    margin: 0 auto;    
    margin-bottom: 10px;
/*    border:2px solid #cccccc;*/
    -webkit-box-shadow: inset 0px 0px 3px #777777, 3px 3px 5px #cccccc;
}

section.fragment > header {
    background-color: #eeeeee;
}

section.fragment aside.right {
    position: absolute;
}

section.fragment aside.right > div {
    margin-top: 10px;
    margin-left: 2px;
    background-color: #cccccc;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
    
}
section.fragment .navdiag canvas, section.fragment aside .inner{
    background-color: #ffffff;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
/*    border:1px outset #eeeeee;*/
    -webkit-box-shadow: inset 0px 0px 3px #777777, 3px 3px 5px #cccccc;
}

section.fragment .navdiag {
    width: 120px;
    height: 120px;
}

section.fragment .tags, section.fragment .authors{
    width:280px;
}

section.fragment .tags a, section.fragment .authors a{
    display: inline-block;
    padding: 3px;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 3px #777777, 3px 3px 5px #cccccc;
}
