/* 
    Document   : main.css
    Created on : 25.07.2011, 17:24:14
    Author     : Messir
    Description:
        Primary styles
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Calibri, 'Ubuntu', Helvetica, 'Avant Garde', sans-serif; 
}

