/* 
    Document   : main.css
    Created on : 06.05.2011, 14:42:14
    Author     : Messir
    Description:
        Primary styles
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background: #111111  url(../img/bg2.png) left 0px;
    font-family: 'Ubuntu', Helvetica, 'Avant Garde', sans-serif; 
}

a {
    text-decoration: none;
}

#container > header {
    background: #111111  url(../img/bg.png) left 0px;
    box-shadow: inset 0px 0px 1.6em 0px #000000;
    border:1px inset #666666;
    -webkit-transition:height 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s;
    position: fixed;
    top:0px;
    width:100%;
    z-index: 10000;
}

#container > header:hover {
}

#container > header .inner{
    margin: 0 14%;
    height: inherit;
}

#container > header .inner2{
    margin: 0 14%;
}

.darkLine{
    height:2px;
}

#loader{
    width: 82px;
    height: 21px;
/*    margin-left:-5px;*/
    background: url(../img/bg.png);
    position: absolute;
    cursor: pointer;
}

#loader .shadow{
    width: inherit;
    height: inherit;
    position: absolute;
    background: url(../img/bg_shadow.png) center center no-repeat;
}
#loader .progress{
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    color: #ffffff;
    padding-top: 2px;
    padding-left: 6px;
    opacity: 0;
}

#loader .progress .bar{
    height: 18px;
    margin-right: 2px;
    width: 4px;
    background-color: #008b95;
    float: left;
    box-shadow: inset 0px 0px 2px 0 #000000;
}

/* -------------------------------------------------------------------------- */

#main {
    width: 60%;
    margin: 0 auto;    
/*    padding-top: 36px;*/
}

#d-Pinned {
/*    border:1px solid red;*/
    background: #111111  url(../img/bg2.png) left 0px;
    z-index: 1020;
}
#d-Unpinned {
/*    border:1px solid green;*/
    background: #111111  url(../img/bg2.png) left 0px;
    z-index: 1030;
}
#d-Pinned > div, #d-Unpinned > div{
    background: #111111  url(../img/bg2.png) left 0px;
}
#d-Pinned > div > header, #d-Unpinned > div > header {
    border:1px inset #888888;
    padding: .4em .8em;
    box-shadow: inset 0px 0px 1.6em .4em #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
}


article.discussion, article.key, article.post {
  outline: 1px solid gray;
}
article.discussion > div, article.key >  div, article.post > div{
  padding: 1em;
}

article.discussion {
    background: #111111  url(../img/bg2.png) left 0px;
    color: #dddddd; 
    -webkit-transition:color 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s;
/*    box-shadow: 0px 0px 1.6em 0px #222222;*/
/*    border : 1px solid #333333;*/
/*    background: #111111  url(../img/bg2.png) left 0px;*/
}

article.discussion ul {
    border:1px inset #444444;
    padding:.3em 6em;
    margin: 0 0 .5em;
    color: #cccccc; 
    -webkit-transition:color 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s;
    height: 5.6em;
/*    display: none;*/
    background: #111111  url(../img/bg2.png) left 0px;
}

article.discussion ul > li{
    display: none;
    font-size:1.2em;
    line-height: 160%;
    padding: 1em;
    border:1px outset #444444;
    overflow: hidden;
    height:2.6em;
    cursor: pointer;
/*    background-color: #303030;*/
/*    text-shadow: 0px 0px 1px #000000;*/
}

article.discussion ul > li:first-child{
    display: block;
}

article.discussion:hover, article.discussion:hover header, article.discussion:hover ul{
    color: #ffffff;
}

.active {
    /*          outline: 1px solid red;*/
}

.float {
    /*          outline: 1px solid green;*/
    position: fixed;
    top: 0px;
    width: inherit;
    z-index: 1000;
    /*          -webkit-box-shadow: inset 0px 0px 0px 1px #000;*/

}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


article.discussion .left{
    float: left;
    height: 5.4em;
    width: 5.8em;
    margin-top:.3em;
}
article.discussion .left .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #333333;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}
article.discussion:hover .left .inner{
    color: #dddddd;
    opacity: .9;
}
.socialrating{
    background-color: #5171db;
    float: right;
    height: 100%;
    width: 1px;
    border:1px outset #444444;
    box-shadow:inset 0px 0px 1.6em 0px #2a3b73;
}
.rating{
    background-color: #0031d2;
    float: right;
    height: 100%;
    width: 1px;
    border:1px outset #444444;
    box-shadow:inset 0px 0px 1.6em 0px #001a6f;
}
.branches{
    background-color: #973f10;
    float: left;
    height: 100%;
    width: 1px;
    border:1px outset #444444;
    box-shadow:inset 0px 0px 1.6em 0px #54240a;
}
.posts{
    background-color: #1ee819;
    float: left;
    height: 100%;
    width: 1px;
    border:1px outset #444444;
    box-shadow:inset 0px 0px 1.6em 0px #0f790d;
}
article.discussion .right{
    float: right;
    height: 5.5em;
    width: 5.8em;
    margin-top:.3em; 
}
article.discussion .right .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #333333;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}
article.discussion:hover .right .inner{
    color: #dddddd;
    opacity: .9;
}

article.discussion header{
    cursor: pointer;
    font-size: 2em;
    color: #999999;
    padding: 0 3.6em;
    font-family: Cuprum;
    text-shadow: 1px 1px 2px #000000;
    -webkit-transition:color 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}

article.discussion .header_left {
    height: 25px;
    float: left;
    margin-left: -3.4em;
/*    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s */
}

article.discussion:hover .header_left {
/*    opacity: 0.9;*/
}

article.discussion .pinning, article.discussion .rename{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s 
}

article.discussion:hover .pinning, article.discussion:hover .rename{
    opacity: 0.9;
}

.pinning.auth.pinned
{
    opacity: 0.9;
}

.pinning.auth.pinned img
{
    background: url(../img/ico_pinned.png) no-repeat center center;
}

article.discussion:hover .bullet{
    background-color: #777777;
}

article.discussion:hover .bullet_cont:hover .bullet{
    background-color: #ff9f00;
}

.tags{
    text-align: left;
    font-family: Cuprum;
/*    padding-left: 4em;*/
    text-shadow: -1px -1px 2px #000000;
    text-transform: uppercase;
}
.tags a:link, .tags a:visited{
    font-size: 1.2em;
    color: #777777;
    padding: 0 .5em;
    display: inline-block;
}
.tags a:hover {
    color: #dddddd;
}

footer {
    padding-left: 6.6em;
    padding-right: 6.6em;
    height:20px; 
}


.pinning img {
    margin-right: 10px;
    width: 26px;
    height: 24px;
    background: url(../img/ico_pin2.png) no-repeat center center;
}

.pinning:hover img {
    background: url(../img/ico_pin2_u.png) no-repeat center center;
}

.rename img {
    margin-right: 10px;
    width: 26px;
    height: 24px;
    background: url(../img/ico_renamediscussion2.png) no-repeat center center;
}

.rename:hover img {
    background: url(../img/ico_renamediscussion2_u.png) no-repeat center center;
}

.changeRatingPlus img {
    margin-right: 15px;
    width: 26px;
    height: 24px;
    background: url(../img/ico_plus2.png) no-repeat center center;
}

.changeRatingPlus:hover img {
    background: url(../img/ico_plus2_u.png) no-repeat center center;
}

.changeRatingMinus img {
    width: 26px;
    height: 24px;
    background: url(../img/ico_minus2.png) no-repeat center center;
}

.changeRatingMinus:hover img {
    background: url(../img/ico_minus2_u.png) no-repeat center center;
}

.addComment img {
    margin-top: 10px;
    width: 36px;
    height: 30px;
    background: url(../img/ico_addcomment2.png) no-repeat center center;
}

.addComment:hover img {
    background: url(../img/ico_addcomment2_u.png) no-repeat center center;
}

.bullets{
    float: right;
}

.bullet_cont{
    vertical-align: bottom;
    float: right;
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
}
.bullet {
    width: 1.2em;
    height: 1.2em;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
     -webkit-box-shadow: inset 0px .3em .6em 0px #111111,  0px 0px .1em .1em #222222;
    background-color: #555555;
    -webkit-transition:background-color 0.5s ease-in-out;
    -webkit-transition-duration: 0.5s;
    
}

.bullet.active{
    background-color: #9fff00;
}

.ratingLabel {
    font-size:2em;
    display: block;
    margin-top:.3em;
    -webkit-transition: color 1s ease-in-out;
    -webkit-transition-duration: 1s;
}

.ratingLabel.highlatedGreen {
    color: #00ff00;
}

.ratingLabel.highlatedRed {
    color: #ff0000;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


.postpin, .avatarcont{
    float: left;
    width: 82px;
}

.postmsg {
     min-height: 4.6em;
}

/*.postmsg a.outerref:before{*/
.postmsg a:before{
     content: url(../img/innnerref.png);
}

.postmsg a.outerref:before{
     content: none;
}



a.avatar {
    width: 64px;
    height: 64px;
}
a.avatar canvas{
    background-color: #ffffff;
    border:1px inset #888888;
}
a.avatar img.direct{
    position: absolute;
    z-index: 1000;
    margin-left : 2px;
    margin-top : 2px;
    
}

article.addcomment .text{
    background: none;
    border:1px solid #333333;
    box-shadow: 0px 0px 1.6em 0px #222222;
}

input.cancel {
    cursor: pointer;
}
 
.inline-left {
    height:30px;
    display: inline-block;
    float: left;
    line-height: 30px;
    margin: 0 0.4em;
    font-family: Cuprum;
    font-size: 1.5em;
}

.inline-right {
    display: none;
    height:30px;
    display: inline-block;
    float: right;
    line-height: 30px;
    margin: 0 0.4em;
    font-family: Cuprum;
    font-size: 1.4em;
}


.rightfloat {
    position: absolute; 
    right:0px;
    width: 20%;
}
.leftfloat {
    position: absolute;
    left:0px;    
    width: 20%;
}
.taglist, .avalist, .yoltags {
    width: 200px;
}
.avalist {
    margin:1em;
    box-shadow: inset 0px 0px 1.6em 0px #000000;
    padding: .8em;
    display: none;
}
.taglist {
    margin:1em;
    box-shadow: inset 0px 0px 1.6em 0px #000000;
    padding: .8em;
    display: none;
}

.yoltags {
    margin:1em;
    box-shadow: inset 0px 0px 1.6em 0px #000000;
    padding: .8em;
    display: none;
    text-align: center;
}

.yoltags a, .yoltags a:link, .yoltags a:visited{
    display:inline-block;
    font-size: 1.2em; 
    color: #70ffdd;
    opacity: .8;
    margin: .2em;
    text-transform: uppercase;
    font-family: Cuprum;
    vertical-align: baseline;
}

.yoltags a:hover, .yoltags a:hover{
    opacity: 1;
}

.avataruri {
    width: 64px;
    height: 64px;
    background: #ffffff none no-repeat center center;
    border:1px inset #888888;
    background-size: 64px 64px; 
     -webkit-background-size: 64px 64px; 
}
/* -------------------------------------------------------------------------- */

article.key {
/*    padding: 1em 0;*/
/*    box-shadow: inset 0px 0px 1.6em 0px #222222;*/
    background: #111111  url(../img/bg2_key.png) left 0px;
}

article.key header{
    font-weight: bold;
    min-height: 30px;
    cursor: pointer;
}

article.key .text{
    border:1px outset #555555;
    border-top: none;
    background-color: #444444;
    margin: 0em 5.5em;
    color: #ffffff; 
    padding: 1em;
    font-size:1.1em;
    line-height: 140%;
}

article.key .left{
    float: left;
    height: 5.4em;
    width: 5.8em;
    margin-top:.3em;
}
article.key .left .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}
article.key .right{
    float: right;
    height: 5.5em;
    width: 5.8em;
    margin-top:.3em; 
}
article.key .right .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #333333;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}

article.key .postpin, article.post .postpin {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}

article.key:hover .postpin, article.post:hover .postpin {
    opacity: .9;
}

article.key .tags{
    text-shadow: -1px -1px 2px #242424;
}
article.key .tags a:link, article.key .tags a:visited
{
    color: #999999;
}
article.key .tags a:hover{
    color: #ffffff;
}

article.post .tags{
    text-shadow: -1px -1px 2px #666666;
}
article.post .tags a:link, article.post .tags a:visited
{
    color: #999999; 
}
article.post .tags a:hover{
    color: #111111;
}

article.post, article.addcomment{
/*    padding: 1em 0;*/
    background-color: #cccccc; 
    background: #111111  url(../img/bg2_post.png) left 0px;
}

article.post header{
    font-weight: bold;
    min-height: 30px;
    cursor: pointer;
}

article.post .text, article.addcomment .text{
    border:1px outset #999999;
    border-top: none;
    background-color: #cccccc;
    margin: 0em 5.5em;
    color: #1111111; 
    padding: 1em;
    font-size:1.1em;
    line-height: 140%;
}

article.post .left{
    float: left;
    height: 5.4em;
    width: 5.8em;
    margin-top:.3em;
}
article.post .left .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}
article.post:hover .left .inner, article.key:hover .left .inner{
    opacity: .9;
}

article.post .right{
    float: right;
    height: 5.5em;
    width: 5.8em;
    margin-top:.3em; 
}
article.post .right .inner{
    width: 5.8em;
    height: 5.4em;
    position: absolute;
    color: #333333;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    overflow: hidden;
    opacity: 0;
    -webkit-transition:color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition-duration: 0.3s
}
article.post:hover .right .inner, article.key:hover .right .inner{
    opacity: .9;
}
