<div class="post-content" id="post-${id}" data-id="${id}" data-parent="${parentPostId}">
<!--
<div class="text">
    ${id}: ${text}
</div>
<div class="state" {{if !postCount}}style="display: none;"{{/if}}>
<div class="icon24set left-icon expand" title="expand branch (${postCount})"></div>
<div class="icon24set left-icon collapse" title="collapse branch"></div>
<div class="icon24set left-icon gobranch" title="goto branch (${postCount})"></div>
</div>
-->

<div class="left-side">
    <div class="move-cont">
        <div class="icon24set left-icon move"></div>
    </div>
    <div class="avatar-container round-border">
        <div class="avatar round-border" style="margin-top: 0;">
            {{if author.avataruri != null }}
                <img src="${author.avataruri}" alt="${author.name}" title="${author.name}" class="round-border" />
            {{else}}
                <a href="#avatar-author-${id}" class="avatarHref" title="${author.name}">
                </a>
            {{/if}}
        </div>
        <div class="rating-cont">
            <div class="icon16set close_small"></div>
            <div class="icon16set rating"></div>
            <div class="icon16set rating"></div>
            <div class="icon16set rating"></div>

        </div>

    </div>

</div>
<div class="state" {{if !postCount}}style="display: none;"{{/if}}>
<!--<div class="icon24set left-icon color" title="branch color"></div>-->
<div class="icon24set left-icon expand" title="expand branch (${postCount})"></div>
<div class="icon24set left-icon collapse" title="collapse branch"></div>
<div class="icon24set left-icon gobranch" title="goto branch (${postCount})"></div>
</div>
<div class="date">
    ${createTimeF}
    
</div>
<div class="post-info">
    <span class="author-name">${author.name}</span>
    <div class="icon16set ntfn16-reply"></div>
    <span class="user-name">
        {{each directUsers}}
            <span class="directuser">${name},&#0160;</span>
        {{/each}}
    </span>
</div>
<div class="text">
    {{html text}} [${id} : ${parentPostId}]
</div>
<div class="reply-cont">
</div>
<!--<div style="clear: both;"></div>-->
</div>
