<div class="post-more" id="branch-data-${id}" data-id="${id}">
<!-- <ul class="tags">
    {{each tags}}
        {{if entryRating > 1}}
        <li title="${tag.id} - ${entryRating}">${tag.asText}</li>
        {{/if}}
    {{/each}}
</ul> -->
{{if keys.length}}
<div class="keys-cont">
    <div class="conrtol-left">
        <div class="icon24set icon-left"></div>
    </div>
    <div class="conrtol-right">
        <div class="icon24set icon-right"></div>
    </div>
    <ul class="branch_keys">
    {{each keys}}
        <li data-id="${id}">{{html text}} [${id}] </li>
    {{/each}}
    </ul>
    <!-- 
    <ul class="content branch_keys">
        {{each keys}}
            <li data-id="${id}">${id}: ${text}</li>
        {{/each}}
    </ul>
    -->
    <div class="conrtol-botttom">

        <ul class="tags">
            {{each keys}}
                <li  data-id="${id}" class="keychange" style="width: ${viewWidth}px;" title="${relevantWeight}"></li>
            {{/each}}
        </ul>

    </div>
</div>
{{/if}}
</div>